.containerMaster{
  background-color: black;
  height: 100%;
}


.titleContainer{
  color: white;
  font-size: 1.2rem;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  gap: 0.2rem;

  margin: 1rem 0 1rem;

  h2{
    font-size: 1.2rem;
    color: aquamarine;
  }
}

.containerShirts{
  display: flex;
  align-items: center;

  justify-content: center;
  gap: 0.5rem;

  max-width: 70rem;

  flex-wrap: wrap;

  margin: 0 auto;

  img{
    width: 17rem;
    height: 25rem;
    cursor: pointer;

    border-radius: 6px;
    transition: 0.5s;
  }
  img:hover{
    transform: scale(1.02);
  }
}

.shirts{
  width: calc(25% - 0.5rem);
}

@media (max-width: 960px) {
  .shirts {
    width: 40%;
  }
}
@media (max-width: 600px) {
  .shirts {
    width: 100%;
  }
}
