<div class="containerMaster">
  <h4>ENCONTRE ROUPAS SIMPLES COM MUITA QUALIDADE E MODERNAS NA T-SHOPPING!</h4>

  <p>Quando se trata de roupas simples, a busca por modelos que ofereçam durabilidade, estilo e
    versatilidade deve ser feita com atenção. Afinal, mesmo sendo consideradas peças básicas, é
    fundamental escolher levando em conta a qualidade do tecido, o corte e, consequentemente,
    o caimento no corpo.
  </p>

  <div class="cardsContainer">
    <app-cards description="10% OFF na primeira compra"
               icon="CreditCard"
               title="Cartão T-SHOPPING">
    </app-cards>
    <app-cards description="10% OFF acima de R$250"
               icon="CircleDollarSign"
               title="Código de Vendedor">
    </app-cards>
    <app-cards description="Em nossas lojas até 2h"
               icon="Store"
               title="Retire Grátis">
    </app-cards>
    <app-cards description="30 dias para trocar na loja"
               icon="RotateCcw"
               title="Troca Fácil">
    </app-cards>
    <app-cards description="Compre pelo Whatsapp"
               icon="Phone"
               title="Fale com nossos vendedores">
    </app-cards>
  </div>

  <div class="footer">
    <span>Criado por: </span>
    <a href="https://www.linkedin.com/in/matheusgregoriodev/" target="_blank">Matheus Gregorio</a>
  </div>
</div>
