<div class="containerMaster">
  <div class="logoAndNavBarContainer">
    <div class="logo" routerLink="">
      <lucide-angular name="shirt"></lucide-angular>
      <span>T-SHOPPING</span>
    </div>

    <nav class="navBar">
      <li>
        <a [routerLink]="['/novidades', clientId]" routerLinkActive="active">Novidades</a>
      </li>
      <li>
       <a [routerLink]="['/masculino', clientId]">Masculino</a>
      </li>
      <li>
        <a [routerLink]="['/feminino', clientId]">Feminino</a>
      </li>
      <li>
        <a [routerLink]="['/kids', clientId]">Kids</a>
      </li>
    </nav>
  </div>

  <div class="buttonContainer">
    <app-button-nav-bar nameButton="CircleUserRound" nameRouter="/login"></app-button-nav-bar>
    <app-button-nav-bar nameButton="ShoppingCart" nameRouter="#"></app-button-nav-bar>
  </div>
</div>
