<div class="containerMaster">
  <div class="titleContainer">
    <h2>ROUPAS</h2>
    <h3>FEMININAS</h3>
  </div>

  <div class="containerShirts">
    <app-product nameImage="feminina1.jpg" productName="Regata Básica Canelada Violeta" value="R$ 55,90" class="shirts" button1Value="P" button2Value="M" button3Value="G" button4Value="GG"></app-product>
    <app-product nameImage="feminina2.jpg" productName="Regata Básica Canelada Azul Royal" value="R$ 55,90" class="shirts" button1Value="P" button2Value="M" button3Value="G" button4Value="GG"></app-product>
    <app-product nameImage="feminina3.jpg" productName="Regata Básica Canelada Vermelha" value="R$ 55,90" class="shirts" button1Value="P" button2Value="M" button3Value="G" button4Value="GG"></app-product>
    <app-product nameImage="feminina4.jpg" productName="Regata Básica Canelada Verde Escuro" value="R$ 89,90" class="shirts" button1Value="P" button2Value="M" button3Value="G" button4Value="GG"></app-product>

    <app-product nameImage="feminina5.jpg" productName="Short Estampado Fish Amarelo" value="R$ 89,90" class="shirts" button1Value="P" button2Value="M" button3Value="G" button4Value="GG"></app-product>
    <app-product nameImage="feminina6.jpg" productName="Short Estampado Wave Azul Marinho" value="R$ 89,90" class="shirts" button1Value="P" button2Value="M" button3Value="G" button4Value="GG"></app-product>
    <app-product nameImage="feminina7.jpg" productName="Short Estampado Bird Vermelho" value="R$ 89,90" class="shirts" button1Value="P" button2Value="M" button3Value="G" button4Value="GG"></app-product>
    <app-product nameImage="feminina8.jpg" productName="Short Estampado Flower Azul Marinho" value="R$ 89,90" class="shirts" button1Value="P" button2Value="M" button3Value="G" button4Value="GG"></app-product>

  </div>
</div>
