<div class="containerMaster">
  <div class="containerShirts">
    <div class="shirts" (mouseover)="activeDiv()" (mouseleave)="deactivateDiv()">
      <img src= {{nameImage}} alt="">
      <app-buttons-sizes
        *ngIf="isEnableBlock"
        [nameImage]="nameImage"
        [productName]="productName"
        [value]="value"
        (buy)="onBuy($event)"
        button1=" {{button1Value}} "
        button2=" {{button2Value}} "
        button3=" {{button3Value}} "
        button4=" {{button4Value}} "
        >
      </app-buttons-sizes>
      <span class="productSpan">  {{productName}} </span>
      <span class="value"> {{value}} </span>
    </div>
  </div>
</div>
