<div class="containerMaster">
  <h2>COMPRE <span>POR CATEGORIA</span></h2>
  <app-navbar-category></app-navbar-category>

  <h2>NOVIDADES <span>T-SHOPPING</span></h2>

<div class="containerShirts">
  <app-product nameImage="feminina1.jpg" productName="Regata Básica Canelada Violeta" value="R$ 55,90" class="shirts" button1Value="P" button2Value="M" button3Value="G" button4Value="GG"></app-product>
    <app-product nameImage="feminina2.jpg" productName="Regata Básica Canelada Azul Royal" value="R$ 55,90" class="shirts" button1Value="P" button2Value="M" button3Value="G" button4Value="GG"></app-product>
    <app-product nameImage="feminina3.jpg" productName="Regata Básica Canelada Vermelha" value="R$ 55,90" class="shirts" button1Value="P" button2Value="M" button3Value="G" button4Value="GG"></app-product>
    <app-product nameImage="feminina4.jpg" productName="Regata Básica Canelada Verde Escuro" value="R$ 89,90" class="shirts" button1Value="P" button2Value="M" button3Value="G" button4Value="GG"></app-product>

    <app-product nameImage="feminina5.jpg" productName="Short Estampado Fish Amarelo" value="R$ 89,90" class="shirts" button1Value="P" button2Value="M" button3Value="G" button4Value="GG"></app-product>
    <app-product nameImage="feminina6.jpg" productName="Short Estampado Wave Azul Marinho" value="R$ 89,90" class="shirts" button1Value="P" button2Value="M" button3Value="G" button4Value="GG"></app-product>
    <app-product nameImage="feminina7.jpg" productName="Short Estampado Bird Vermelho" value="R$ 89,90" class="shirts" button1Value="P" button2Value="M" button3Value="G" button4Value="GG"></app-product>
    <app-product nameImage="feminina8.jpg" productName="Short Estampado Flower Azul Marinho" value="R$ 89,90" class="shirts" button1Value="P" button2Value="M" button3Value="G" button4Value="GG"></app-product>

    <app-product nameImage="infantil1.jpg" productName="T-Shirt Infantil Estampada Prancha Azul Marinho" value="R$ 55,90" class="shirts" button1Value="6" button2Value="8" button3Value="10" button4Value="12"></app-product>
    <app-product nameImage="infantil2.jpg" productName="T-Shirt Estampada Kombi Preta" value="R$ 55,90" class="shirts" button1Value="6" button2Value="8" button3Value="10" button4Value="12"></app-product>
    <app-product nameImage="infantil3.jpg" productName="T-Shirt Infantil Estampada Skate Azul" value="R$ 55,90" class="shirts" button1Value="6" button2Value="8" button3Value="10" button4Value="12"></app-product>
    <app-product nameImage="infantil4.jpg" productName="Casaco De Moletom Estampado Preto" value="R$ 89,90" class="shirts" button1Value="6" button2Value="8" button3Value="10" button4Value="12"></app-product>

    <app-product nameImage="infantil5.jpg" productName="T-Shirt Infantil Estampada Five Azul Jeans" value="R$ 55,90" class="shirts" button1Value="6" button2Value="8" button3Value="10" button4Value="12"></app-product>
    <app-product nameImage="infantil6.jpg" productName="T-Shirt Infantil Estampada Grafite" value="R$ 55,90" class="shirts" button1Value="6" button2Value="8" button3Value="10" button4Value="12"></app-product>
    <app-product nameImage="infantil7.jpg" productName="Camisa Infantil Xadrez Azul Marinho/ Off White" value="R$ 109,90" class="shirts" button1Value="6" button2Value="8" button3Value="10" button4Value="12"></app-product>
    <app-product nameImage="infantil8.jpg" productName="T-Shirt Infantil Estampada Skate Verde Escuro" value="R$ 55,90" class="shirts" button1Value="6" button2Value="8" button3Value="10" button4Value="12"></app-product>

    <app-product nameImage="masculina1.jpg" productName="T-Shirt Básica ComFort Mescla Vermelha" value="R$ 55,90" class="shirts" button1Value="P" button2Value="M" button3Value="G" button4Value="GG"></app-product>
    <app-product nameImage="masculina2.jpg" productName="T-Shirt Básica ComFort Mescla Branca" value="R$ 55,90" class="shirts" button1Value="P" button2Value="M" button3Value="G" button4Value="GG"></app-product>
    <app-product nameImage="masculina3.jpg" productName="T-Shirt Básica ComFort Mescla Verde" value="R$ 55,90" class="shirts" button1Value="P" button2Value="M" button3Value="G" button4Value="GG"></app-product>
    <app-product nameImage="masculina4.jpg" productName="T-Shirt Básica ComFort Mescla Azul" value="R$ 55,90" class="shirts" button1Value="P" button2Value="M" button3Value="G" button4Value="GG"></app-product>

    <app-product nameImage="masculina5.jpg" productName="T-Shirt Estampada Montanha azul" value="R$ 55,90" class="shirts" button1Value="P" button2Value="M" button3Value="G" button4Value="GG"></app-product>
    <app-product nameImage="masculina6.jpg" productName="T-Shirt Estampada Turtle Azul Marinho" value="R$ 55,90" class="shirts" button1Value="P" button2Value="M" button3Value="G" button4Value="GG"></app-product>
    <app-product nameImage="masculina7.jpg" productName="T-Shirt Básica ComFort Mescla Azul Marinho" value="R$ 55,90" class="shirts" button1Value="P" button2Value="M" button3Value="G" button4Value="GG"></app-product>
    <app-product nameImage="masculina8.jpg" productName="T-Shirt Básica ComFort Mescla Verde Bandeira" value="R$ 55,90" class="shirts" button1Value="P" button2Value="M" button3Value="G" button4Value="GG"></app-product>

  </div>
</div>
