<div class="containerMaster">
  <div class="titleContainer">
    <h2>ROUPAS</h2>
    <h3>INFANTIS MASCULINAS</h3>
  </div>

  <div class="containerShirts">
    <app-product nameImage="infantil1.jpg" productName="T-Shirt Infantil Estampada Prancha Azul Marinho" value="R$ 55,90" class="shirts" button1Value="6" button2Value="8" button3Value="10" button4Value="12"></app-product>
    <app-product nameImage="infantil2.jpg" productName="T-Shirt Estampada Kombi Preta" value="R$ 55,90" class="shirts" button1Value="6" button2Value="8" button3Value="10" button4Value="12"></app-product>
    <app-product nameImage="infantil3.jpg" productName="T-Shirt Infantil Estampada Skate Azul" value="R$ 55,90" class="shirts" button1Value="6" button2Value="8" button3Value="10" button4Value="12"></app-product>
    <app-product nameImage="infantil4.jpg" productName="Casaco De Moletom Estampado Preto" value="R$ 89,90" class="shirts" button1Value="6" button2Value="8" button3Value="10" button4Value="12"></app-product>

    <app-product nameImage="infantil5.jpg" productName="T-Shirt Infantil Estampada Five Azul Jeans" value="R$ 55,90" class="shirts" button1Value="6" button2Value="8" button3Value="10" button4Value="12"></app-product>
    <app-product nameImage="infantil6.jpg" productName="T-Shirt Infantil Estampada Grafite" value="R$ 55,90" class="shirts" button1Value="6" button2Value="8" button3Value="10" button4Value="12"></app-product>
    <app-product nameImage="infantil7.jpg" productName="Camisa Infantil Xadrez Azul Marinho/ Off White" value="R$ 109,90" class="shirts" button1Value="6" button2Value="8" button3Value="10" button4Value="12"></app-product>
    <app-product nameImage="infantil8.jpg" productName="T-Shirt Infantil Estampada Skate Verde Escuro" value="R$ 55,90" class="shirts" button1Value="6" button2Value="8" button3Value="10" button4Value="12"></app-product>

  </div>
</div>
