<div class="containerMaster">
  <img src="/background-home.jpg" alt="background">

  <div class="titleContainer">
    <h2>T-SHIRTS</h2>
    <h3>MASCULINAS</h3>
  </div>

  <div class="containerShirts">
    <div class="shirts">
      <img src="masculina1.jpg" alt="">
      <span>T-Shirt Básica ComFort Mescla Vermelha </span>
      <span class="value">R$ 55,90</span>
    </div>
    <div class="shirts">
      <img src="masculina2.jpg" alt="">
      <span>T-Shirt Básica ComFort Mescla Branca </span>
      <span class="value">R$ 55,90</span>
    </div>
    <div class="shirts">
      <img src="masculina3.jpg" alt="">
      <span>T-Shirt Básica ComFort Mescla Verde </span>
      <span class="value">R$ 55,90</span>
    </div>
    <div class="shirts">
      <img src="masculina4.jpg" alt="">
      <span>T-Shirt Básica ComFort Mescla Cinza </span>
      <span class="value">R$ 55,90</span>
    </div>
  </div>

</div>
