<div class="containerMaster">
  <div class="titleContainer">
    <h2>T-SHIRTS</h2>
    <h3>MASCULINAS</h3>
  </div>

  <div class="containerShirts">
    <app-product nameImage="masculina1.jpg" productName="T-Shirt Básica ComFort Mescla Vermelha" value="R$ 55,90" class="shirts"></app-product>
    <app-product nameImage="masculina2.jpg" productName="T-Shirt Básica ComFort Mescla Branca" value="R$ 55,90" class="shirts"></app-product>
    <app-product nameImage="masculina3.jpg" productName="T-Shirt Básica ComFort Mescla Verde" value="R$ 55,90" class="shirts"></app-product>
    <app-product nameImage="masculina4.jpg" productName="T-Shirt Básica ComFort Mescla Azul" value="R$ 55,90" class="shirts"></app-product>

    <app-product nameImage="masculina5.jpg" productName="T-Shirt Estampada Montanha azul" value="R$ 55,90" class="shirts"></app-product>
    <app-product nameImage="masculina6.jpg" productName="T-Shirt Estampada Turtle Azul Marinho" value="R$ 55,90" class="shirts"></app-product>
    <app-product nameImage="masculina7.jpg" productName="T-Shirt Básica ComFort Mescla Azul Marinho" value="R$ 55,90" class="shirts"></app-product>
    <app-product nameImage="masculina8.jpg" productName="T-Shirt Básica ComFort Mescla Verde Bandeira" value="R$ 55,90" class="shirts"></app-product>

  </div>
</div>
